.login{
  text-align: center;
  line-height: 1px;
}

.login-btn{
  background-image: linear-gradient(to right, #C0D993, #8AAD87);
  border: 0;
  outline : 0;
  border-radius:50px;
  width: 80%;
  height: 40px;
  margin: 0 auto;
  color : white;
}