h1 {
  text-align: center;
}
.select {
  text-align: center;
  color : #166d1e;
}
.check {
  text-align: center;
  font-size: 14px;
  color: #7c7c7c;
}
.checkStyle {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 18px;
  text-align: center;
  color: #aeaeae;
  font-size: 26px;
  justify-content: space-around;
}
.StDiseInput{
  display: none
}
.StDiseDiv {
  width: 80px;
  height: 80px;
  border: 1.5px solid #666666;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e6d9;
}
.StDiseInput:checked .StDiseDiv {
  width: 80px;
  height: 80px;
  border: 1.5px solid #037F00;
  border-radius: 100%;
}
.innerbox{
  text-align: center;
}