h1 {
  text-align: center;
}
.select {
  text-align: center;
  color: #166d1e;
  margin-bottom: 0;
}
.check {
  margin-top: 0;
  text-align: center;
  font-size: 14px;
  color: #7c7c7c;
}

/*checkbox*/
.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: black;
  flex-wrap: wrap;
}
.item {
  position: relative;
}
input[type="checkbox"] {
  position: absolute;
  top: 5px;
  right: 10px;
  appearance: none;
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
}
input[type="checkbox"]::before {
  content: "✔";
  color: #fff;
  margin-left: 3px;
}
input[type="checkbox"]:checked {
  content: "✔";
  background: #037f00;
  border: none;
  opacity: 1;
}
.innerbox {
  text-align: center;
  width: 75px;
  height: 75px;
  margin: 10px;
  border: 2px solid #666666;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
input[type="checkbox"]:checked + .innerbox {
  text-align: center;
  width: 75px;
  height: 75px;
  margin: 10px;
  border: 2px solid #037f00;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #037f00;
}
p {
  text-align: center;
}

/*button*/
.before-btn {
  position: fixed;
  bottom: 15px;
  width: 150px;
  height: 35px;
  left: 50%;
  margin-left: -75px;
  background-color: #ededed;
  color: #7c7c7c;
  border: 1px solid #a2a2a2;
  border-radius: 8px;
}
.after-btn {
  position: fixed;
  bottom: 15px;
  width: 150px;
  height: 35px;
  left: 50%;
  margin-left: -75px;
  background-color: #037f00;
  color: white;
  border: 1px solid #037f00;
  border-radius: 8px;
}

/*effect-crop*/
.cropwrap {
  position: relative;
  padding: 5px;
}
.EffectCrop {
  background-color: #f3faf3;
  display: inline-block;
  margin: 5px;
  border-radius: 40px;
  font-size: 13px;
  padding: 1px 2px 2px 6px;
  height: 37px;
  line-height: 0;
}
.StCropInput {
  border: 0;
  outline: 0;
  padding: 0 15px;
  font-size: 17px;
  border-radius: 40px;
  height: 26px;
  background-color: #d8e6d8;
}
.effectList {
  display: inline-block;
  margin: 20px;
}

/*allcrops*/
.allcropswrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.allcropsbtn {
  position: relative;
  background-color: #f2f2f2;
  height: 80px;
  margin: 5px;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  text-align: center;
}
.allcropsname {
  display: block;
  width: 90%;
  height: 30px;
  margin: 5px auto;
  border-radius: 20px;
  border: 1.5px solid #a0baa4;
  cursor: pointer;
}
.gotoRe {
  border: 0;
  outline: 0;
  margin: 5px;
  cursor: pointer;
}

/*cropInfo*/
.arrow_box {
  display: none;
  position: absolute;
  width: 200px;
  padding: 8px;
  right: 0;
  top: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 15px;
  background: rgb(220, 220, 220);
  font-size: 14px;
  z-index: 999;
}
button:focus + div.arrow_box {
  display: block;
}

/*Recipe*/
.titlewrap {
  position: relative;
  width: 100%;
  border: 1px solid #7e8c7e;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.recipetitle {
  width: 50%;
  height: 30px;
  background-color: #d6e3d6;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  left: 100px;
  top: 10px;
  border-radius: 10px;
}
.recipecropinfo {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 10px;
  font-size: 0.8rem;
  padding-top: 3px;
}

.recipeitem {
  position: relative;
}
.recipeName {
  width: 170px;
  height: 170px;
  border: 10px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#e2e9e0, #e2e9e0),
    linear-gradient(to bottom right, #bfd6a2, #c0d4bf);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
.recipeId {
  margin-top: 35px;
  margin-bottom: 10px;
}
.recipeIngre {
  width: 300px;
  /* height: 120px; */
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  box-shadow: 4px 4px 6px 2px #c7c7c7;
  background-color: white;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
}
.stepWrap {
  border-left: 7px solid;
  border-image: linear-gradient(#c0d993, #8aad87);
  border-image-slice: 1;
}
.step {
  position: relative;
  width: 300px;
  height: 50px;
  font-size: 15px;
  border-radius: 2px;
  outline: none;
  box-shadow: 4px 4px 10px 2px #c7c7c7;
  background-color: white;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px;
}
.stepIdx {
  width: 7%;
  /* height: 50px; */
  font-size: 25px;
  text-align: center;
  border-right: 1px solid;
}
.stepCooking {
  position: absolute;
  width: 80%;
  /* height: 50px; */
  max-height: 50px;
  top: 20px;
  right: 15px;
  overflow: auto;
}
.slick-dots {
  top: 0;
}
.slick-list {
  margin: 0 auto;
}
