.slider {
    position: relative;
    /* left: 10%;
    top: 30%; */
    width: 414px;
    height: 200px;
    overflow: hidden;
  }

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    /* width: 200%; */
    display: grid;
    gap: 5px;
    pointer-events: none;
    margin-top: 16px;
}

.slider-item {
    width: 250px;
    border: 1px solid #156e1c;
    border-radius: 20px;

}