.slider {
    position: relative;
    /* left: 10%;
    top: 30%; */
    width: 380px;
    height: 200px;
    overflow: hidden;
  }

.slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    /* width: 200%; */
    display: flex; /* grid */
    gap: 5px;
    pointer-events: none;
    margin-top: 16px;
}

.slider-item {
    width: 250px;
    border: 1px solid #156e1c;
    border-radius: 20px;

}


/*Check.js */
.contStyle{
    display: flex;
    justify-content: space-around;
    padding: 10px 0 18px;
    text-align: center;
    font-size: 26px;
}
.StFarmDiv{
    cursor: pointer;
    height: 35px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;
    border: solid 1px;
    border-radius: 10px;
}
.StFarmInput{
    display: none;
}
