/*Review.js*/
.reviews {
  position: relative;
  border-radius: 30px;
  width: 300px;
  height: 200px;
  margin: 50px 20px;
  background-color: #F2F2F2;
  margin-bottom: 40px;
}
.quotes{
  margin:10px;
  width: 40px;
  height: 25px;
}
.content {
  text-align: center;
}
.name {
  position: absolute;
  left : 20px;
  bottom: 5px;
}
.triangle{
  position: absolute;
  width:100px;
  left : 100px;
  bottom: -30px;
}



/*ReviewChart*/
.Chartcontainer {
  width: 200px;
  height: 200px;
  transition: 0.3s;
  margin: 0 auto;
}